@import url("whitespace-reset.css");

body {
  font: normal 1em Helvetica, arial, sans-serif;
  background: linear-gradient(to bottom, #4444aa 0%, #cccccc 100%);
  color: #9999dd;  
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

#lists {
  display: inline-block;
  width: 255px;
  height: 100vh;
}

#lists p {
  margin: 8px 40px 8px 25px;
}


#lists li {
  border-bottom: 1px solid #999999;
}

#lists li:first-child {
  margin-top: 40px;
  color: #aaaaee;
  font-weight: bold;
}

#lists li a  {
  padding: 8px 40px 8px 25px;   
}

#work_area {
  position: relative;
  display: inline-block;
  width: 70%;
  vertical-align: top;
  margin: 0 0 0 -4px;
}

#work_area .nav {
  background: #ccccdd;
  color: #333333;
  padding: 15px;
}

#work_area .nav > p {
  padding-top: 15px;
  padding-bottom: 10px;
}

#list_name {
  vertical-align: middle;
  padding: 0 10px;
}

#get_todo input {
  background: transparent;
  border: 0px;
  color: #222222;
  font-size: 1em;
  max-length: 100;
}

#get_todo input:focus {
  outline: 0;
}

#list_task_count {
  display: inline-block;
  padding: 0 10px;
  line-height: 20px;
  background: #4444aa;
  color: #dddddd;
  text-align: center;
  border-radius: 8px;
  font-size: 0.7em;
  vertical-align: middle;

} 

#menu_icon a {
  display: none;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url("../images/ic_menu_black_24dp_1x.png");
  text-indent: -9999px;
}


#todo_list { 
  background: #ffffff;
  color: #555555;
  height: 100vh;
}

#todo_list li {
  position: relative;
  padding: 10px 40px 10px 25px;   
  border-bottom: 1px solid #999999;
}

#todo_list li a {
  display: none;
  float: right;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url("../images/ic_delete_black_24dp_1x.png");
}

#todo_list li h3 {
  display: inline;
  font-weight: normal;
}

#todo_list li date {
  position: absolute;
  left: 200px;
}

#todo_list li[data-completed="true"] {
  text-decoration: line-through;
}

#modal_blocking_layer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
}

#modal {
  display: none;
  position: absolute;
  width: 550px;
  left: 50%;
  top: 100px;
  margin: 0 0 0 -300px;
  z-index: 3;
  padding: 30px;
  background: white;
  color: #333333;
}

#modal h3 {
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 25px;
}

#todo_detail .button {
  display: inline-block;
  border-radius: 10px;
  color: #eeeeee;
  font-size: 0.8em;
  padding: 4px;
  margin: 0 11px;
  width: 65px;
  text-align: center;
}

#todo_detail  a[type="save"] {
    background-color: #77bb44;
}

#todo_detail a[type="cancel"] {
    background-color: #3333dd;
}

#todo_detail a[type="completed"] {
    background-color: #cc9977;
}

@media (max-width: 870px) {
  #menu_icon a {
    display: inline-block;
  }
  #lists.single {
    display: none;
  }
  #work_area.single {
    width: 100%;
  }
  #lists.expanded {
    display: inline-block;
    width: 255px;
    height: 100vh;
  }
  #work_area.expanded {
    display: inline-block;
    overflow: auto;
    scrollbar-base-color:#ffeaff;
    width: 40%;
  }

}

